<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/header'); -%>
    <script src="/js/initialize-buttons.js"></script>
</head>

<body>
    <button id="add-audience">Add Audience</button>
    <button id="add-director">Add Director</button>
    <button id="delete-audience">Delete Audience</button>
    <button id="update-director">Update Director's Platform</button>
    <button id="view-directors">View Directors</button>
    <button id="view-director-movies">View Movies</button>
    <button id="view-rates">View Rates</button>
    <button id="view-avg-rate">View Average Rates</button>
    <button id="add-platform">Add Platform</button>
    <button id="logout">Logout</button>
</body>

<script>
    initializeButtons("manager");
</script>
</html>
