<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/header'); -%>
    <script src="/js/initialize-buttons.js"></script>
</head>

<body>
    <button id="view-available-theatres">View Available Theatres</button>
    <button id="add-movie">Add Movie</button>
    <button id="add-session">Add Session</button>
    <button id="add-predecessor">Add Predecessor</button>
    <button id="view-movies">View Movies</button>
    <button id="view-audiences">View Audiences</button>
    <button id="update-movie">Update Movie</button>
    <button id="add-theatre">Reserve Theatre</button>
    <button id="add-genre">Add Genre</button>
    <button id="logout">Logout</button>
</body>

<script>
    initializeButtons("director");
</script>
</html>
