<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/header'); -%>
    <script src="/js/initialize-buttons.js"></script>
</head>

<body>
        <button id="list-movies">List Movies</button>
        <button id="buy-ticket">Buy Ticket</button>
        <button id="view-tickets">View Tickets</button>
        <button id="rate-movie">Rate Movie</button>
        <button id="logout">Logout</button>
</body>

<script>
    initializeButtons("audience");
</script>

</html>
